.cart-details:not(:empty) {
  min-height: calc(100vh - 290px);
}

.cart-product {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

.cart-product__content {
  display: grid;
  grid-template-columns: max-content auto 120px;
  gap: 15px;
}

.cart-product__footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.cart-product__content__image img {
  height: 200px;
  border-radius: 2px;
}

.cart-product__content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
}

.cart-product__content__title {
  font-size: 20px;
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
}

.cart-product__content__meta {
  font-size: 13px;
  color: rgb(136, 136, 136);
  font-weight: 500;
  margin-bottom: 10px;
}

.cart-product__content__filter {
  display: flex;
}

.cart-product__content__filter .text {
  margin-right: 15px;
}

.cart-product__content__filter .filter {
  display: inline-flex;
  font-size: 16px;
  align-items: center;
}

.cart-product__content__filter i {
  font-size: 22px;
  cursor: pointer;
}

.cart-product__content__filter i.disabled {
  opacity: .6;
  pointer-events: none;
}

.cart-product__content__filter i::selection {
  background-color: transparent;
}

.cart-product__content__filter i:nth-of-type(1) {
  margin-right: 5px;
}

.cart-product__content__filter .filter span {
  margin-right: 5px;
}

.cart-product__content__price {
  font-size: 18px;
  font-weight: 300;
}

.total-box {
  box-shadow: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  position: sticky;
  top: 75px;
}

.total-box .item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.total-box .item.total {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
