.products {
  margin: 25px 0;
  min-height: calc(100vh - 325px);
}

.product footer button {
  border-radius: 0;
}

.product {
  box-shadow: 0 .25em .8em .3em rgba(0, 0, 0, 0.1);
}

.product .card-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.product .card-header .price {
  padding: 1rem;
  font-weight: 300;
  font-size: 18px;
}
